# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
ios/
android/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Installer output
installer_output/

# Optional local files
*.log